.wrap {
  display: inline-block;
}

.wrapMain {
  text-align: left;
}

.wrapBreakdown {
  display: block;
  width: 100%;
  text-align: right;
}

:global(number-flow-react).valueMain {
  display: inline-block;
}

:global(number-flow-react).valueBreakdown {
  display: inline-block;
}

:global(number-flow-react).valueMain::part(number) {
  transform-origin: left top;
}

:global(number-flow-react).valueBreakdown::part(number) {
  transform-origin: right top;
}
